@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/fonts/ttf/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'JetBrains Mono', monospace;
    //font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background: linear-gradient(180deg, #101721 0%, #12202b 16.7%, #142632 35.58%, #12212b 57.35%, #080c0f 96.63%);
}